<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="perfilUsuario">
      <ion-fab-button (click)="abrirModalEdicao()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <div class="topo-perfil"></div>

  <div class="foto-perfil">
    <img [src]="dados.foto || '/assets/images/perfil.png'">
  </div>

  <h3 class="text-center">{{ dados.full_name }}</h3>
  <h4>{{ dados.username }}</h4>

  <hr>

  <ion-grid>
    <ion-row>
      <ion-col class="text-center" >
        {{ dados.seguindo }}
        <br/>Seguindo
      </ion-col>
      <ion-col class="text-center">
        {{ dados.seguidores }}
        <br/>Seguidores
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!perfilUsuario">
      <ion-col size="12" *ngIf="!dados.sigo">
        <ion-button expand="block" (click)="setClassificacao()">
          <ion-icon name="person-add" slot="start"></ion-icon>
          Seguir
        </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="dados.sigo">
        <ion-button expand="block" (click)="setClassificacao()" color="secondary">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <!-- TODO: DEIXAR DE SEGUIR E MODIFICAR RELAÇÃO -->
          Seguindo
        </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="dados.me_segue">
        {{ dados.full_name }} segue você
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
