<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitar Recomendações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="criarNovaRecomendacao()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngIf="!recomendacoes?.length">
      <ion-col size-xs="12">
          <img src="../../assets/images/coordination.png" class="icone-pagina">
          <p class="text-center">Você ainda não solicitou nenhuma recomendação. Crie uma solicitação e aguarde o recebimento de locais interessantes!</p>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let recomendacao of recomendacoes">
        <ion-card class="card-item"> 
          <div (click)="acessarRecomendacao(recomendacao.id)">
            <ion-card-content>
              <p>{{ recomendacao?.descricao }}</p>
            </ion-card-content>
          </div>
          <div class="card-buttons">
            <ion-button size="small" (click)="clickedStar()" fill="clear">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="clickedStar()" fill="clear">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="clickedStar()" fill="clear">
              <ion-icon size="small" slot="icon-only" name="share"></ion-icon>
            </ion-button>
          </div>
        </ion-card>  
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
