<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="id_grupo">Editar grupo</ion-title>
    <ion-title *ngIf="!id_grupo">Criar grupo</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="fecharModal()">
        <ion-icon slot="icon-only" name="close" alt="Fechar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [class.erro]="erros.name">
      <ion-label position="floating">Nome do Grupo</ion-label>
      <ion-input [(ngModel)]="grupo.name" (click)="removeErro('name')"></ion-input>
    </ion-item>
    <ion-item class="mensagem-erro" *ngIf="erros.name">
      {{ erros.name }}
    </ion-item>
    <ion-item [class.erro]="erros.membros">
      <ion-label position="floating">Buscar usuários</ion-label>
      <ion-input (ionInput)="filtraUsuarios($event)" (click)="removeErro('membros')"></ion-input>
    </ion-item>
    <ion-item class="mensagem-erro" *ngIf="erros.membros">
      {{ erros.membros }}
    </ion-item>
    <ion-item *ngFor="let usuario of listaUsuariosFiltrados">
      {{ usuario.full_name }}
      <ion-button slot="end" fill="clear" size="large" (click)="addMembro(usuario)">
        <ion-icon name="add-circle" slot="end" alt="Adicionar"></ion-icon>
      </ion-button>
    </ion-item>
    <p *ngIf="mensagemFiltro">
      {{ mensagemFiltro }}
    </p>        
  </ion-list>

  <ion-list *ngIf="membros.length" class="lista-membros">
    Membros adicionados        
    <ion-item *ngFor="let usuario of membros">
      {{ usuario.full_name }}
      <ion-button slot="end" fill="clear" size="medium" (click)="removeMembro(usuario)" color="danger">
        <ion-icon name="close-circle" slot="end" alt="Fechar"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
    
    <ion-button expand="block" 
                color="primary" 
                [disabled]="!grupo.name" 
                (click)="criarGrupo()"
                *ngIf="!id_grupo">
      Criar
    </ion-button>

    <ion-button expand="block" 
                color="primary" 
                [disabled]="!grupo.name" 
                (click)="editarGrupo()"
                *ngIf="id_grupo">
      Salvar edição
    </ion-button>

</ion-content>
