<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="perfilUsuario">
      <ion-fab-button (click)="abrirModalEdicao()">
        <ion-icon name="create" alt="Editar"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <div class="topo-perfil"></div>

  <div class="foto-perfil">
    <img [src]="dados?.foto | getFotoUrl" alt="Foto perfil">
  </div>

  <h3 class="text-center">{{ dados?.full_name }}</h3>
  <h4>{{ dados?.email }}</h4>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size="12" style="margin: 0 auto">
        <ion-row>
          <ion-col size="12">
            <ion-card class="card-item">
              <ion-row>
                <ion-col size="6" class="text-center">
                  {{ dados?.seguindo }}
                  <br/>Seguindo
                </ion-col>
                <ion-col size="6" class="text-center">
                  {{ dados?.seguidores }}
                  <br/>Seguidores
                </ion-col>
              </ion-row> 
            </ion-card>
            <ion-card class="card-item" [hidden]="!dados?.cidade_natal || !dados?.cidade_atual">
              <div class="card-tipo recomendacao text-center">
                <ion-icon name="person" alt="Sobre"></ion-icon> Sobre
              </div>
              <ion-item [hidden]="!dados?.descricao">
                <p>Sobre mim: {{ dados?.descricao }}</p>
              </ion-item>
              <ion-item [hidden]="!dados?.cidade_natal">
                <h4>Cidade natal: {{ dados?.cidade_natal }}</h4>                
              </ion-item>
              <ion-item [hidden]="!dados?.cidade_atual">
                <h4>Cidade atual: {{ dados?.cidade_atual }}</h4>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-grid>
    <ion-row *ngIf="!perfilUsuario">
      <ion-col size-lg="6" size="12" *ngIf="!dados?.sigo" style="margin: 0 auto;">
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" (click)="setClassificacao()">
              <ion-icon name="person-add" slot="start" alt="Seguir Pessoa"></ion-icon>
              Seguir
            </ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="dados?.sigo">
            <ion-button expand="block" (click)="setClassificacao()" color="secondary">
              <ion-icon name="contacts" slot="start" alt="Seguindo"></ion-icon>
              Seguindo
            </ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="dados?.me_segue">
            {{ dados?.full_name }} segue você
          </ion-col>
        </ion-row>
      </ion-col>      
    </ion-row>
    <ion-row *ngIf="!perfilUsuario">
      <ion-col size-lg="6" size="12" style="margin: 0 auto;">
        <ion-row>
          <ion-col size="12">
            <ion-card class="card-item" *ngIf="!dados?.sigo">
              <ion-card-content>
                Siga esta pessoa para ver suas solicitações de recomendações
              </ion-card-content>
            </ion-card>
            <ion-card class="card-item" *ngIf="dados?.sigo && !dados?.recomendacoes?.length">
              <ion-card-content>
                Esta pessoa ainda não criou nenhuma solicitação de recomendação
              </ion-card-content>
            </ion-card>
            <div *ngIf="dados?.sigo && dados.recomendacoes?.length">
              <ion-card class="card-item" *ngFor="let recomendacao of dados?.recomendacoes" (click)="acessarRecomendacao(dados?.recomendacao.id)">
                <div class="card-tipo recomendacao">
                  <ion-icon name="megaphone" alt="Recomendação"></ion-icon> Solicitação de recomendação
                </div>
                <ion-card-content>
                  <p>{{ recomendacao.descricao }}</p>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>    
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
