<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diários de Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="criarNovoDiario()">
      <ion-icon name="add" alt="Adicionar"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngIf="!diarios?.length">
      <ion-col size-xs="12">
          <img src="../../assets/images/startup.png" class="icone-pagina" alt="Diários">
          <p class="text-center">Não encontramos nenhum Diário de Viagem para mostrar. Que tal criar um?</p>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let diario of diarios">
        <ion-card class="card-item"> 
          <div (click)="acessarDiario(diario.id)">
            <ion-card-content>
              <ion-card-title>{{ diario.titulo }}</ion-card-title>
            </ion-card-content>
          </div>
          <hr>
          <div class="card-footer buttons">
            <ion-button size="small" (click)="clickedStar()" fill="clear">
              <ion-icon size="small" slot="icon-only" name="create" alt="Editar"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear">
              <ion-icon size="small" slot="icon-only" name="trash" alt="Excluir"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
