<ion-content padding>  
  <img src="../../assets/images/logo.png" class="logo">
  <div class="login-form">
    <div *ngIf="abaAtiva == 'cadastro'">      
      <h3>Cadastre-se</h3>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="dados_cadastro.first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input [(ngModel)]="dados_cadastro.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="dados_cadastro.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="dados_cadastro.password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" 
                  color="primary" 
                  [disabled]="
                    !dados_cadastro.first_name || 
                    !dados_cadastro.last_name || 
                    !dados_cadastro.email || 
                    !dados_cadastro.password" 
                  (click)="cadastro()">
        Cadastrar
      </ion-button>
      <p>Já possui conta? <a href="" (click)="trocarAba($event, 'login')">Entrar</a>
      </p>
    </div>
    <div *ngIf="abaAtiva == 'login'">
      <h3>Entrar</h3>
      <ion-list>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="dados_login.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="dados_login.password" type="password"></ion-input>
        </ion-item>
      </ion-list>      
      <ion-button expand="block" 
                  color="primary" 
                  [disabled]="
                    !dados_login.username || 
                    !dados_login.password" 
                  (click)="login()">
        Entrar
      </ion-button>
      <p>Não possui conta? <a href="" (click)="trocarAba($event, 'cadastro')">Cadastre-se</a>
      </p>
    </div>
  </div>
</ion-content>
