@font-face {
    font-family: 'passion_oneregular';
    src: url('../../assets/fonts/passionone-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/passionone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ion-content {
    background-image: url('../../assets/images/background-login.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //background-image: linear-gradient(to bottom,#333333 20%,#ffffff00 80%);
        background: linear-gradient(to bottom, rgba(255,50,54,1) 0%,rgba(41,137,216,0.77) 23%,rgba(32,124,202,0.3) 70%,rgba(125,185,232,0) 100%); 
        opacity: .6;
    }
}

h1 {
    font-family: 'passion_oneregular';
    text-align: center;
    
    color: white;
    @media (max-width: 700px) {
        font-size: 4rem;
    }
}

.login-form {
    width: 40%;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    @media (max-width: 700px) {
        width: 90%;
        padding: 10px;
    }
}

.logo {
    width: 40%;
    margin: 20px auto;
    display: block;
    @media (max-width: 700px) {
        width: 90%;
    }
}

a {
    font-weight: bold;
}