<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ diario?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModalLocal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngIf="!diario?.locais_de_interesse.length">
      <ion-col size-xs="12">
        <h1>Locais de interesse</h1>
        <p>Você ainda não adicionou locais interessantes neste Diário. Vamos lá!</p>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col size-md="4" size-xs="12" *ngFor="let local of diario?.locais_de_interesse">
        <ion-card class="card-item" (click)="acessarLocal(local.id)"> 
          <ion-card-header class="card-foto" [ngStyle]="{'background-image': 'url('+ local.foto +')', 'background-size': 'cover' }" *ngIf="local.foto">
          </ion-card-header>
          <ion-card-header *ngIf="!local.foto">
            <ion-icon name="image"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{ local.nome }}</ion-card-title>
            <p>{{ local.descricao }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>