<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="abrirModalGrupo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid>
      <ion-row *ngIf="!grupos?.length">
        <ion-col size-xs="12">
          <img src="../../assets/images/meeting.png" class="icone-pagina" alt="Grupos">
          <p class="text-center">Você ainda não participa de nenhum grupo. Crie um e adicione seus amigos!</p>
        </ion-col>      
      </ion-row>
      <ion-row>
        <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let grupo of grupos">
          <ion-card class="card-item"> 
            <div (click)="acessarGrupo(grupo.id)">
              <ion-card-content>
                <ion-card-title>{{ grupo.name }}</ion-card-title>
              </ion-card-content>
            </div>
            <div class="card-footer buttons">
              <ion-button size="small" (click)="abrirModalGrupo(grupo.id)" fill="clear">
                <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
              </ion-button>
              <ion-button size="small" (click)="clickedStar()" fill="clear">
                <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
              </ion-button>
              <ion-button size="small" (click)="clickedStar()" fill="clear">
                <ion-icon size="small" slot="icon-only" name="share"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-content>
  