.button-pesquisa {
    font-size: 24px;
    &:first-child {
        float:left;
    }
    &:last-child {
        float:right;
    }
}

.card-tipo {    
    color: #fff;
    padding: 8px 15px;
    ion-icon {
        font-size: 20px;
        margin-bottom: -5px;
    }
    &.recomendacao {
        background-color: #2989d8;
    }
    &.diario {
        background-color: #ff7979;
    }
}

ion-col {
    margin:0 auto; 
    display:block;
}