<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feed
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleBarraPesquisa()">
        <ion-icon name="search"></ion-icon>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="mostrarBarraPesquisa">
  <ion-searchbar #searchBar 
                 show-cancel-button="false" 
                 clearIcon="close" 
                 placeholder="Pesquisar usuários" 
                 (ionInput)="filtraUsuarios($event)">
  </ion-searchbar>
  <div *ngIf="!filtroNaoEncontrado">
    <ion-item *ngFor="let usuario of listaUsuariosFiltrados" (click)="acessarPerfil(usuario.id)">
      {{ usuario.full_name }}
    </ion-item>
  </div>
  <ion-item *ngIf="mensagemFiltro">
    {{ mensagemFiltro }}
  </ion-item>
</div>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size="12">
        <ion-row>
          <ion-col size="12" *ngFor="let recomendacao of recomendacoes">
            <ion-card class="card-item" (click)="acessarRecomendacao(recomendacao.id)">
              <div class="card-tipo recomendacao">
                <ion-icon name="megaphone"></ion-icon> Solicitação de recomendação
              </div>
              <ion-card-content>
                <p>{{ recomendacao.descricao }}</p>
              </ion-card-content>
              <div class="card-footer">
                <img [src]="recomendacao.autor.foto | getFotoUrl"> Solicitado por {{ recomendacao.autor.full_name }}
              </div>
            </ion-card>
            <ion-row>
              <ion-col size="11" offset="1" *ngFor="let diario of recomendacao.diarios">                
                <ion-card class="card-item" (click)="acessarDiario(diario.id)"> 
                  <div class="card-tipo diario">
                    <ion-icon name="paper"></ion-icon> Diário sugerido
                  </div>
                  <ion-card-content>
                    <p>{{ diario.titulo }}</p>
                  </ion-card-content>
                  <div class="card-footer">
                    <img [src]="recomendacao.autor.foto | getFotoUrl"> Sugerido por {{ diario.autor.full_name }}
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>            
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
