<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feed
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleBarraPesquisa()">
        <ion-icon name="search"></ion-icon>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="mostrarBarraPesquisa">
  <ion-searchbar #searchBar 
                 show-cancel-button="false" 
                 clearIcon="close" 
                 placeholder="Pesquisar usuários" 
                 (ionInput)="filtraUsuarios($event)">
  </ion-searchbar>
  <div *ngIf="!filtroNaoEncontrado">
    <ion-item *ngFor="let usuario of listaUsuariosFiltrados" (click)="acessarPerfil(usuario.id)">
      {{ usuario.full_name }}
    </ion-item>
  </div>
  <ion-item *ngIf="mensagemFiltro">
    {{ mensagemFiltro }}
  </ion-item>
</div>
<ion-content padding>
  <p>feed</p>

</ion-content>
