<ion-header>
    <ion-toolbar>
      <ion-title>Editar perfil</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="fecharModal()">
          <ion-icon slot="icon-only" name="close" alt="Fechar"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input [(ngModel)]="dados.first_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Sobrenome</ion-label>
            <ion-input [(ngModel)]="dados.last_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input [(ngModel)]="dados.email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="item-has-focus">Data de Nascimento</ion-label>
            <ion-input type="date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cidade Natal</ion-label>
            <ion-input [(ngModel)]="dados.cidade_natal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cidade Atual</ion-label>
            <ion-input [(ngModel)]="dados.cidade_atual"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea [(ngModel)]="dados.descricao" placeholder="Conte um pouco sobre você"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Foto</ion-label>
          </ion-item>
          <ion-item>
            <input type="file" (change)="uploadFoto($event)">
          </ion-item>
        </ion-list>
        <ion-button expand="block" 
                    color="primary" 
                    (click)="atualizarPerfil()">
          Salvar
        </ion-button>
  </ion-content>
  