<ion-header>
  <ion-toolbar>
    <ion-title>diarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <h1>Diários de Viagem</h1>
        <p>Não encontramos nenhum Diário de Viagem para mostrar. Que tal criar um? asdasd</p>
      </ion-col>      
    </ion-row>
    <ion-row (click)="criarNovoDiario()">
      <ion-col size-md="4" size-xs="12">
        <ion-card class="novo-diario"> 
          <ion-card-header>
            <ion-icon name="add-circle"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Criar novo diário</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
