<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diários de Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="criarNovoDiario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngIf="!diarios?.length">
      <ion-col size-xs="12">
          <img src="../../assets/images/startup.png" class="icone-pagina">
          <p class="text-center">Não encontramos nenhum Diário de Viagem para mostrar. Que tal criar um?</p>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col size-md="4" size-xs="12" *ngFor="let diario of diarios">
        <ion-card class="card-item" (click)="acessarDiario(diario.id)"> 
          <ion-card-header>
            <ion-icon name="image"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{ diario.titulo }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
