<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <p>{{ recomendacao?.descricao }}</p>
      <br/>
      <p><strong>Compartilhado com:</strong></p>
      <p *ngIf="recomendacao.seguidores">
        - Meus seguidores
      </p>
      <p *ngFor="let grupo of recomendacao.grupos" (click)="acessarGrupo(grupo.id)">
        - {{ grupo.name }}
      </p>
    </ion-card-content>    
  </ion-card>
  

</ion-content>
