// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-text-color: #444;
    --ion-item-background-color: #fff;    
}

#menu ion-header {
    background: linear-gradient(to bottom, rgba(255,50,54,1),rgba(41,137,216,0.77)); 
    cursor: pointer;
    img {
        max-width: 30%;
        border: 0;
        display: block;
        margin: 30px auto;
    }
    &:focus {
        outline: none;
    }
}

button.button-native {
    padding: 0!important;
}

.icone-pagina {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

ion-item.item-input {
    --padding-start: 5px!important;
}

h2 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: calc(var(--ion-header-size, 20px) - var(--ion-header-step, 2px));
    color: #fff;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size: calc(var(--ion-header-size, 22px) - var(--ion-header-step, 2px) * 2);
    font-weight: 900;
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

ion-router-outlet ion-content {
    background-color: #f8f8f8!important;
}

ion-card {
    background-color: #fff;
    /*&:first-child {
        margin-left:0;
    }*/
    .card-footer {
        border-top: 1px solid #ccc;
        padding: 8px 15px;
        &.buttons {
            text-align: right;
            padding: 0;
        }
        img {
            display: inline-block;
            width: auto;
            height: 20px;
            margin-bottom: -5px;
        }
    }    
}

.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 20%;
}

ion-modal.alert-popup {
    @media (min-width: 300px) and (min-height: 500px) {
        ion-backdrop {
            visibility: visible;
            display: block!important;
        }
    }

    app-modal-alerta.ion-page {
        justify-content: start!important;
    }

    .alert-topo {
        padding: 20px;
        text-align: center;
        background-color: #576574;
        ion-icon {
            color:#fff;
            font-size: 4rem;
        }
        &.nao-autenticado {
            background-color: #ff9f43;
        }
        &.nao-encontrado {
            background-color: #ff6b6b;
        }
        &.permissao-negada {
            background-color: #27ae60;
        }
    }

    .modal-wrapper {
        position: absolute;
        overflow: hidden;
        max-width: 280px;
        border-radius: 2px;
        width: 80vw;
        height: 284px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
        background-color: #fafafa;
    }

    .alert-content {
        padding: 20px;
        h3 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }

    .alert-footer {
        border-top: 1px solid #e8e8e8;
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}

.card-item {
    transition: .5s;
    z-index: 2;
    &:hover {
        opacity: .9;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        cursor: pointer;
    }
    ion-card-header {
        padding: 20px;
        text-align: center;
        background-color: #576574;
        ion-icon {
            color:#fff;
            font-size: 4rem;
        }
        &.card-foto {
            background-size: cover;
            height: 110px;
            filter: contrast(60%);
        }
    }    
}

ion-item-divider {
    background-color: #2989d8;
    border: 0;
    color: #fff;
}

ion-item ion-label p {
    font-size: 16px!important;
}

.texto-item {
    font-size: 12px!important;
    color: #666;
}

.card-tipo {    
    color: #fff;
    padding: 8px 15px;
    ion-icon {
        font-size: 20px;
        margin-bottom: -5px;
    }
    &.recomendacao {
        background-color: #2989d8;
    }
    &.diario {
        background-color: #ff7979;
    }
}

@media (min-width: 800px) {
    ion-card:not(.card-item) {
        width: 47%!important;
        margin-right: auto!important;
        margin-left: auto!important;
    }
}

ion-item {
    &.erro {
        --border-color: red;
    }
    &.mensagem-erro {
        font-size: 12px;
        color: red;
    }
}

.login-form {
    ion-item {
        --padding-start: 0;
    }
}

.msg-offline {
    background-color: #ffa5a5;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    img {
        float: left;
        margin-right: 15px;        
    }
}