<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ local.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!recomendacaoUsuario">
    <ion-card-header>
      <ion-card-title>{{ local.nome }}</ion-card-title>
      <ion-card-subtitle>{{ local.descricao }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="!recomendacaoUsuario">
    <ion-item-divider>
      Fotos
    </ion-item-divider>
    <ion-card-content>
      <img [src]="local.foto">
    </ion-card-content>    
  </ion-card>

</ion-content>
